<body>

<table class="tables">
    <tr>
        <td></td>
        <th>ADD NOMINEE </th>
        <td></td>
    </tr>
    <br>
    
    <tr>
     <td>ENTER NOMINEE NAME</td>
   
     <td> <input type="text"> </td>
    </tr>
    <tr>
        <td>ENTER NOMINEE AGE </td>
       
        <td> <input type="number"> </td>
        
       </tr>
       <tr>
        <td>ENTER NOMINEE E-MAIL ID</td>
      
        <td> <input type="text"> </td>
        </tr>
        <tr>
            <td>ENTER NOMINEE GENDER</td>
          
            <td> <input type="text"> </td>
           </tr>
           <tr>
            <td>ENTER PERCENTAGE</td>
           
            <td> <input type="number"> </td>
           </tr>
           <tr>
            <td>ENTER NOMINEE PHONE NO</td>
       
            <td> <input type="text"> </td>
           </tr>
           <tr>
            <td>ENTER NOMINEE RELATION</td>
         
            <td> <input type="text"> </td>
           </tr><br>
           
           <tr>   
         
            <td></td>
            <td><input type="submit" value="ADD"> <input type="reset" value="CLEAR"></td>
          
        </tr>
           
       
</table>
</body>