<body>
<table class="tables">
    <tr>
        <td></td>
        <th>ADD BENEFICIARY </th>
     
    </tr><br>
    
    <tr>
     <td>ENTER BENEFICIARY NAME</td>
  
     <td> <input type="text"> </td>
    </tr>
    <tr>
        <td>ENTER BENEFICIARY ACCOUNT NUMBER </td>
        
        <td> <input type="number"> </td>
      
       </tr>
       <tr>
        <td>ENTER IFSC CODE</td>
      
        <td> <input type="text"> </td>
        </tr>
        <tr>
            <td>ENTER ACCOUNT TYPE</td>
           
            <td> <input type="number"> </td>
           </tr><br>
           <tr>
            <td></td>
            <td><input type="submit" value="ADD"> <input type="reset" value="CLEAR"></td>
           
        </tr>
           
       
</table>
</body>